html, body {
    min-height:100%;
    height: 100%;
}

body {
	background: #B0DED3; /* #0f4882; */
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow:hidden;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  margin-top:50px;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  /* position:relative; */
}
#header {
  visibility:none;
  display:inline-block;
  position:absolute;
}
.content-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
  display:inline-block;
  position:absolute;
}
.no-padding {
  padding: 0;
}
.sidebar {
  /* bottom: 0; */
  height: 100%;
  overflow: auto;
  padding: 20px;
  position: fixed;
  width: 380px;
  z-index: 2;
  background-color: #F3EEE3;
}
@media only screen and (max-width: 1024px){
  .sidebar{
    height: 100%;
  }
}

@media only screen and (max-width: 767px){
  .sidebar{
    height: 100%;
  }
}

.map-wrapper {
  background: #accfff;
  float: right;
  bottom: 0;
  height: 100%;
  position: absolute;
  /* left: 380px;  */
  top: 0;
  width: 100%;
}
.zoom-level-nav {
  position: relative; /*absolute;*/
  /* left: 380px; */
  margin-top: 0px; /*10px;*/
  z-index: 3;
}
.zoom-level {
  width: 100%;
}
.zoom-level button {
  background: #f1f1f1;
  border-radius: 0px; /*4px;*/
  color: #bbbbbb;
  /* margin-right: 3px; */
  text-align: left;
  font-size: 12px;
  display: block;
  /* min-width: 180px; */
  width: 106px;
  height: 34px;
}
.zoom-level button:hover {
  background: #4C8293;
  color: #ffffff;
}
.zoom-level button.btn-active {
  background: #d9dcdc;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
.metric_label{
  overflow: hidden;
  text-transform:uppercase;
}
.zoom-level .button-label {
  font-size: 12px;
  /* margin-left: 5px; */
}
.zoom-level button.btn-active .button-label {
  display: inline-block;
}
.btn-metric {
  background-color: #B0DED3; 
  color:black; 
  border-color:#4C8293
}
.indicators-panels .card-header{
  background: #f3f3f3;
  border-bottom: none;
  border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;
  border-top: 1px solid #e6eaee;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}
.indicators-panels .card-block {
  border-bottom: none;
  background-color: #fff;
  /*border-left: 1px solid #e6eaee;
  border-right: 1px solid #e6eaee;*/
  border-top: none;
  padding: 10px;
}
.panel-header-icon {
  background: #e8eaf1;
  display: block;
  float: left;
  margin-right: 12px;
  padding: 10px;
}
.panel-header-icon img {
  width: 20px;
}
.panel-header-content{
  display: inline-block;
  width: 80%;
}
.panel-header-content:hover {
  cursor: pointer;
}
.panel-header-title {
  color: #000000;
  font-weight: bold;
  display: block;
}
.panel-header-description {
  color: #b5b5b5;
  display: block;
  font-size: 12px;
  font-style: italic;
}
.score {
  font-weight: bold;
}
.component-section {
  overflow: hidden;
  padding: 5px 0;
}
.component-section:hover {
  background: #f3f3f3;
  border-radius: 5px;
}
.component-label {
  font-size: 11px;
  line-height: 13px;
  padding: 0;
}

.component-label,
.general-component-label:hover {
 cursor:pointer;
}

.bar-container {
	display:inline-block;
}

.component-scale {
  background: transparent; /*#e2e7ee;*/
  border-radius: 5px;
  height: 12px;
  margin-top: 3px; /*10px;*/
  position: relative;
  margin-left: 20px;
  width: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  
}

.score-bar {
  border-radius: 5px;
  height: 12px;
  margin-left: 0%;
  margin-top: 0px; /*10px;*/
  position: relative;
  padding-left: 5px;
  color: black;
  text-height: 12px;
  vertical-align: middle;
  font-weight:bold;
}

.component-score-small {
	border-radius:5px;
	width:25px;
	font-size: 12px;
	background-color: white;
	/* border: solid; */
	border-color: black;
	border-width: 1px;
	text-align: center;
	position: absolute;
	z-index: 10;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
}

.score-bar.good {
  background: #1a9641;
}
.score-bar.medium-good {
  background: #a6d96a;
}
.score-bar.medium {
  background: #f1d121;
}
.score-bar.medium-bad {
  background: #fd6161;
}
.score-bar.bad {
  background: #d7191c;
}
.component-score {
  color: black;
  font-weight: bold;
	border-radius:5px;
	 width:25px;
	 margin-left: 5px;
	font-size: 14px;
	background-color: white;
	/* border: solid; */
	border-color: black;
	border-width: 1px;
	text-align: center;
	position: absolute;
	z-index: 10;
/*   display: inline-block;
  white-space: normal;
  vertical-align: middle; */
}
/*
.component-score.good {
  color: #1a9641;
}
.component-score.medium-good {
  color: #a6d96a;
}
.component-score.medium {
  color: #f1d121;
}
.component-score.medium-bad {
  color: #fd6161;
}
.component-score.bad {
  color: #d7191c;
}
.component-score.notavailable {
  color: #cccccc;
}
*/

.component-score {
	font-weight: bold;
    /* text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey; */
}
.scale-icon {
  background: #4C8293; /*#397ab0*/;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -7px;
  width: 25px;
  border: 3px solid #ffffff;
}

/*community profiles*/
.community-profiles-wrapper {
  background: #fff; /*#4C8293; /*#B0DED3; /*#f3faff;*/
  /* color: #fff; */
  /*border: 1px solid #e9e9e9;*/
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
}
.community-title {
  color: #1d2531;
  font-size: 16px;
  font-weight: bold;
}
.total-count{
  color: #444444;
  font-size: 20px;
}
#area_selection {
  font-weight:bold;
  text-transform:uppercase;
  color: #951301;
  font-size: 12px;
}

.total-count-pi{
  color: #4C8293; /*#3780bb;*/
  font-size: 14px;
  font-weight: bold;
}
.filter-count-pi{
  color: #444444;
  font-size: 14px;
  font-weight: bold;
}
.score-helptext {
  font-size: 11px;
}
.profile-item {
  border-radius: 3px;
  color: #354052;
  font-size: 12px;
  font-weight: bold;
  margin-left: -5px;
  margin-right: -5px;
  padding: 7px;
}
.profile-item:hover {
  background: #4C8293;
  color: #ffffff;
}
.profile-item .col {
  padding: 0;
}
.community-icon {
  width: 17px;
  height: 17px;
}
.btn-modal {
  background: none;
  border: none;
  float: right;
  /* margin-top: 8px; */
  opacity: 1;
  padding: 0;
  width: 20px;
}
.btn-modal:hover {
  opacity: 0.75;
}
.modal-dialog {
  width: 500px;
  z-index: 2;
}
.modal-backdrop {
  z-index: 2;
}
.sidebar-modal .modal-header {
  background: #269df9;
  color: #ffffff;
}
.sidebar-modal .close {
  opacity: 1;
  color: #ffffff;
  text-shadow: none;
}
.sidebar-modal h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}
.sidebar-modal p {
  margin-bottom: 15px;
}

.map-popup {
  background: #215784;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
  width: 200px;
  visibility: hidden;
}
.map-popup .popup-header {
  color: #daeaf7;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.map-popup .popup-score {
  font-size: 35px;
  text-transform: uppercase;
}
.map-popup .popup-score .score-unit {
  font-size: 20px;
  text-transform: lowercase;
}
.map-popup .score-label {
  color: #daeaf7;
  font-size: 11px;
}

/* slide out tabs */
.slide-out-tab-province,
.slide-out-tab-legend {
  background: #ffffff;
  margin-left: 380px;
  min-height: 250px;
}
.slide-out-tab-province {
  height: 500px;
}
.slide-out-tab-province.open,
.slide-out-tab-legend.open {
  z-index: 4;
}

.handle, .handle-legend {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #eeeeee;
  color: #bbbbbb;
  height: 150px;
  width: 35px;
  z-index: 3;
}

a.handle:hover {
  color: #4C8293; /*#397ab0;*/
  text-decoration: none;
}
.handle-label {
  display: inline-block;
  font-size: 13px;
  margin-left: 4px;
  margin-top: 26px;
  white-space: nowrap;
  width: 30px;

  /*styles below are for text rotation*/
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.slide-out-tab-legend .handle-label {
  margin-top: 60px;
}
.slideout-content-wrapper {
  color: #888888;
  padding: 20px;
  width: 250px;
}
.slideout-content-wrapper h4{
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
}
.selected-projects {
  border-left: 1px solid #bbbbbb;
  color: #888888;
  font-size: 10px;
  margin-left: 5px;
  padding-left: 5px;
}
.options-list label{
  font-size: 12px;
  font-weight: normal;
}
.options-list .list-label {
  margin-left: 5px;
}
.options-list ul,
.select-options{
  list-style: none;
  padding-left: 0;
}
.select-options label {
  font-weight: normal;
}
.select-options {
  display: block;
  padding-bottom: 25px;
}
.select-options li {
  float: left;
  font-size: 12px;
  margin-right: 15px;
}
.select-options input[type=radio] {
  height: 15px;
  width: 15px;
}

/* Make sure the colored polygons in the map are transparent, so you can see OSM information through it */
.leaflet-clickable {
	fill-opacity: .6;
	stroke-width: .5;
}
.leaflet-zoom-animated {
	fill-opacity: .6;
}


#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 34px;
  height: 34px;
}

.hdx-3w-info {
	float: left;
	padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
@media only screen and (max-width: 1024px){
  .hdx-3w-info{
    display: none;
  }
}
.dc-chart g.row text {
    fill: black;
}

.big-icon {
    font-size: 24px;
}
.reset-button,
.reset-button:visited{
	visibility:hidden;
	background-color: #951301;
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding: 2px 10px 2px 10px;
    border-radius: 5px;	
}
.reset-button:hover,
.reset-button:focus{
	visibility:hidden;
	background-color: #045a8d;
	color: white;
	text-decoration: none;
	cursor:pointer;
}

/* Collapsible sidebar */

body {
    background: none repeat scroll 0 0 white;
}
.sidebar-menu-collapsed {
    width: 75px;
}
.sidebar-menu-expanded {
    width: 380px;
}
}


/* Multi-level Accordion */
/* * {
  margin: 0; padding: 0;
}
body {
  font-size: 100%;
} */
.accordion {
  width: 380px;
  margin: 20px auto;
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
} /*
 .accordion h2, h3, h4 {
  font-family: "News Cycle";
} */
 .accordion h1 {
  padding: 15px 20px;
  background-color: #333;
  font-family: Lobster;
  font-size: 1.5rem;
  font-weight: normal;
  color: #1abc9c;
} 
.accordion h1:hover {
  color: #4afcdc;
} 
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #1abc9c;
} 
.accordion h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion h2:hover {
  background-color: #09ab8b;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
} 
.accordion .opened-for-codepen {
  display: block;
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.navbar-toggler{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDAsIDAsIDAsIDAuNSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+");
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #eeeeee;
  height: 45px;
  margin-bottom: 3px;
  position: absolute;
  top: 3px; 
  right: 3px;
  width: 45px;
}


.collapse-button{
  background-color: #d9dcdc;
  background-image:
  url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImNvbGxhcHNlZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOTUxMzAxO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI1NiwyMTMuN0wyNTYsMjEzLjdMMjU2LDIxMy43TDgxLjUsMzgwLjRjLTQuMyw0LjItMTEuNCw0LjEtMTUuOC0wLjJsLTMwLjUtMzBjLTQuNC00LjMtNC41LTExLjMtMC4yLTE1LjUKCWwyMTMuMy0yMDMuNmMyLjItMi4yLDUuMi0zLjIsOC4xLTNjMy0wLjEsNS45LDAuOSw4LjEsM2wyMTIsMjA0LjhjNC4zLDQuMiw0LjIsMTEuMi0wLjIsMTUuNWwtMzAuNywyOS44CgljLTQuNCw0LjMtMTEuNSw0LjQtMTUuOCwwLjJMMjU2LDIxMy43eiIvPgo8L3N2Zz4K");
  border: 2px solid #d9dcdc;
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 33px;
  padding: 10px;
  width: 33px;
}
.collapse-button.up{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImNvbGxhcHNlZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IgoJIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojOTUxMzAxO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI1NiwyOTguNEwyNTYsMjk4LjRMMjU2LDI5OC40bDE3NC0xNjcuM2M0LjMtNC4yLDExLjQtNC4xLDE1LjgsMC4ybDMwLjYsMjkuOWM0LjQsNC4zLDQuNSwxMS4zLDAuMiwxNS41CglMMjY0LjEsMzgxYy0yLjIsMi4yLTUuMiwzLjItOC4xLDNjLTMsMC4xLTUuOS0wLjktOC4xLTNMMzUuMiwxNzYuOWMtNC4zLTQuMi00LjItMTEuMiwwLjItMTUuNUw2NiwxMzEuNWM0LjQtNC4zLDExLjUtNC40LDE1LjgtMC4yCglMMjU2LDI5OC40eiIvPgo8L3N2Zz4K");
}
.export-button.models{
  padding-left: 38px;
}

/* chart */

#row-chart-container{
  margin-left: -50px;
  width: 100%;
}
@media only screen and (max-width: 1024px){
  .leaflet-left .leaflet-control{
    margin-top: 50px;
  }
  .leaflet-right{
    left: 10px;
    right: auto;
  }
}
@media only screen and (max-width: 767px){
  .export-btn-arrow{
    float: right;
  }
}

.modal.in .modal-dialog{
  width: 95%;
}


#model-items,#global-model-items{		
  min-width: 220px;		
}

